

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase; 
    margin-left: 30px;
    text-align:center;
    color: rgb(0 0 55);
    margin-top: 50px !important;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color:orchid;
}
body > header h1 {
margin-top: 15px;

}
.personal-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size:  40px;
    margin-top: 75px;
    font-weight: bold;
    text-align: center;
    color:maroon
}
img.face {
      border:6px ridge red;
      float:left;
      width: 200px;
      margin-right: 20px;
      margin-bottom: 20px;
} 
p > .background {
    font-family:Arial, Helvetica, sans-serif;
font-size: 25px;
font-weight: bold;
margin-bottom: 20px;
}
.education {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
    font-size: 25px;
}
#experience {
    text-align:left;
    font-size: 20;
}
#travel {
    margin-left: 20px;

}
#cities {
margin-left: 50px;
font-size: 40px;
}